<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
 {% block content %}

 <div class="container-fluid">
     <div class="row">
         <div class="col-sm-12">
                <h1 id="head1">Activity</h1>
                <h2 id="head2" >Please fill in the form for new activities</h2>
         </div>

     </div>

     <div class="row">
         <div class="col-sm-9">
                <form id="form" method="POST" action="{% url 'first_version:saveactivity' %}">
                        {% csrf_token %}
                        {{ add_activity_form.as_p }}
                        <input  type="submit" value="Submit">
                 </form>

         </div>
         
         
    </div>
 </div>
 {% endblock content %}