<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
<!--<head>
        <title>Feedback</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}"> 
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
</head>

<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
           <!-- <a class="navbar-brand" href="#">Vincentius Adi</a> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
               <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> 
              <li><a class="nav-item nav-link " href="{% url 'home' %}"  style="color:white;padding: 10px 25px;">Home</a></li> 
              <li><a class="nav-item nav-link" href="{% url 'feedback' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Feedback</a></li> 
               <li><a class="nav-item nav-link" href="contact"style="color:white;  margin: 0px;padding: 10px 25px;">Contact Me</a></li>
               <li><a class="nav-item nav-link" href="{% url 'register' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Register</a></li>
               
               
             </div>
           </div>
         </nav> -->


   </div>

   {% block content %}
   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-12" style="background-color: ">
          <h1 id="head1">Feedback</h1>

       </div>
        

     </div>
     <br>
     <div class="row">
        <div class="col-sm-12" style="background-color:" id ="shortdesc">
            <p >
                As a programmer, we always do maintanance in order to keep our program sharp. 
                The same is true for us isn't it? As a human being I'm a firm believer of constant improvement. 
                I realized that there must be a thing or two or more that I can improve on, and of course it will be only possible by the contribution of your feedbacks
        </br>
    </br>
        So please, If you had anything to say, don't ever feel hesitate to fill in the space below. I will appreciate any kind of feedbacks as long as it is still relevant.
        </p>

          
         </div>


      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
            <div class="container" style="margin-top: 150px; background-color: #f2f2f2; padding: 20px">
                <form >
                  <div class="row">
                    <div class="col-25">
                      <label for="fname">First Name</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="lname">Last Name</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-25">
                      <label for="subject">Subject</label>
                    </div>
                    <div class="col-75">
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <input type="submit" value="Submit">
                  </div>
                </form>
              </div>

        </div>
          

        </div>



   </div>
   {% endblock content %}
        

        <div>
               
              
        </div> 
        
        <div>
                
                

        </div>
</body>