<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
<!--<head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}"> 
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
</head>
<body>
  
    <div>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
              
              <li><a class="nav-item nav-link " href="{% url 'home' %}"  style="color:white;padding: 10px 25px;">Home</a></li> 
              <li><a class="nav-item nav-link" href="{% url 'feedback' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Feedback</a></li> 
               <li><a class="nav-item nav-link" href="contact"style="color:white;  margin: 0px;padding: 10px 25px;">Contact Me</a></li>
               <li><a class="nav-item nav-link" href="{% url 'register' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Register</a></li>
               
               
             </div>
           </div>
         </nav>


   </div> 
   <!-- </div> -->
   {% block content %}
   <div class="container-fluid">
     <div class="row">
       <div class = "col-sm-12">
          <h1 id="head1">Register Account</h1>

       </div>

     </div>

     <div class = "row">
        <div class = "col-sm-12">
            <h2 id="head2" >Please complete the form below to continue</h2>

          </div>

     </div>

     <div class = "row">
        <div class = "col-sm-12">
            <div>
                
                <div class="container" style="margin-top: 150px; background-color: #f2f2f2;padding: 20px;">
                  <form >
                    <div class="row">
                      <div class="col-25">
                        <label for="fname">First Name</label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="name" name="firstname" placeholder="Name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-25">
                        <label for="lname">Date of Birth</label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="dob" name="Date of birth" placeholder="Date of birth">
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-25">
                        <label for="subject">E-mail</label>
                      </div>
                      <div class="col-75">
                            <input type="text" id="email" name="E-Mail" placeholder="E-Mail">
                      </div>
                    </div>

                    <div class="row">
                            <div class="col-25">
                              <label for="subject">Username</label>
                            </div>
                            <div class="col-75">
                                  <input type="text" id="username" name="Username" placeholder="Username">
                            </div>
                    </div>

                    <div class="row">
                            <div class="col-25">
                              <label for="pwd">Password</label>
                            </div>
                            <div class="col-75">
                                  <input type="password" id="pwd" name="Password" placeholder="Password" class="form-control">
                            </div>
                    </div>

                    <div class="row">
                            <div class="col-25">
                              <label for="pwd">Confirm Password</label>
                            </div>
                            <div class="col-75">
                                    <input type="password" id="pwd" name="Password" placeholder="Password" class="form-control">
                            </div>
                    </div>
                    <br>

                    <div class="row">
                      <input type="submit" value="Submit">
                    </div>
                  </form>
                </div>

          </div>

     </div>
     

   </div>
   {% endblock content %}
   
   
    
    
    <div>
      

        

        </div>
        
        
<!--</body>