<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
 
<!-- <head>
      
        <title>Homepage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
       <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}"> 
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

</head>

<body>
    
    

        
            

            
            <div>

                <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav ml-auto">
                    
                       <li><a class="nav-item nav-link " href="{% url 'home' %}"  style="color:white;padding: 10px 25px;">Home</a></li> 
                       <li><a class="nav-item nav-link" href="{% url 'feedback' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Feedback</a></li> 
                        <li><a class="nav-item nav-link" href="contact"style="color:white;  margin: 0px;padding: 10px 25px;">Contact Me</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'register' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Register</a></li>
                       
                       
                     </div>
                   </div>
                 </nav>


           </div> 
            
            
           <!-- <ul>
                    <li><a href="register">Register</a></li>
                    <li><a href="contact">Contact Me</a></li>
                    
                    <li><a href="feedback">Feedback</a></li>
                    
                    <li><a href="">Home</a></li>
                   
            </ul> -->

            {% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 " style="background-color:;">
                        <img id ="imgpos" class="img-responsive" src="{% static 'vince.jpg' %}" alt="Avatar" > 
                    </div>
                    <div class="col-sm-10" style="background-color:;">
                      <div >
                        <h1 id="head1" >About Me</h1>
                        <h2 id="head2" >Vincentius Adi Kurnianto</h2>
                        <p id="shortdesc" >
                           I'm currently studying Computer Science in University of Indonesia with a hope of becoming a professional full stack developer in the future. 
                           With that goal in mind, I'm currently active in learning a bunch of programming concepts and languages. 
                           I believe the saying "Practice makes perfect" is very true in my way to achieve my goals. 
                           I also viewed my self as someone who can work comfortably both in a team or individually.
                   </p>
                  </div>

                    </div>
                    
                    
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-3 " style="background-color:;">
                        <div >
                            <div class="container-fluid" id="sosmedbox" >
                                    <div class="panel-group">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1" id="Ctitle" >Find me on Social Media</a>
                                          </h4>
                                        </div> 
                                        <div id="collapse1" class="panel-collapse collapse" >
                                          <ul class="list-group"  >
                                            <li class="list-group-item" >
                                                <a href="https://www.instagram.com/vincent_adi10/" target="_blank">
                                                  <img id="sosmed2" class="img-responsive" src="{% static 'insta.jpg' %}"  > 
                                               <!-- <img  src="insta.jpg" id="sosmed2" alt"ig"></img>  -->
                                                </a>  
                                            </li>
                                            <li class="list-group-item" >
                                                    <a href="https://www.linkedin.com/in/vincentius-adi-0aa635131/" target="_blank">
                                                      <img id ="sosmed1" class="img-responsive" src="{% static 'linkedin.png' %}"  > 
                                              <!--  <img src="linkedin.png" id="sosmed1"></img>  -->
                                                </a>
                                            </li>
                                            <li class="list-group-item" >
                                                    <a href="https://www.facebook.com/king.lightning1" target="_blank">
                                                      <img id ="sosmed1" class="img-responsive" src="{% static 'facebook.png' %}"> 
                                              <!--  <img src="facebook.png" id="sosmed3"></img> -->
                                                </a>
                                            </li>
                                          </ul>
                                          <div class="panel-footer"></div>
                                      </div>
                                    </div>
                                  </div> 
        
                    </div>
                    </div>

                  </div>

              </div>
              <br><br>
              <div class="row">
                  <div class="col-sm-2 " style="background-color:;">
                      
                  </div>
                  <div class="col-sm-10" style="background-color:;">
                    
            <div>
                <h3 id ="head1"> Resume </h3>

                <div >
                        <div id="accordion" style =  "max-width: 1000px">
                          <div class="card" style="background-color: aqua; width: 950px">
                                
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse" href="#collapseOne" id="collapsebox">
                                Educations
                              </a>
                            </div>
                        
                            <div id="collapseOne" class="collapse" > <!-- data-parent="#accordion"-->
                              <div class="card-body"  style="background-color:wheat; ">
                
                               <div class="grid-container">
                                 <div class="grid-item"><img src="{%static 'ui.png'%}"  id="edu" ></img></div>
                                 <div class="grid-item" id ="cardtext">2017 - 2021</div>
                                 <div class="grid-item" id ="cardtext" >University of Indonesia</div>  
                                 <div class="grid-item"><img src="{%static 'smansa.gif'%}" id="edu" ></img></div>
                                 <div class="grid-item"id ="cardtext">2014 - 2017</div>
                                 <div class="grid-item"id ="cardtext">Senior High School 1 Bogor</div>  
                                 <div class="grid-item"><img src="{%static 'spensa.jpg'%}" id="edu" ></img></div>
                                 <div class="grid-item"id ="cardtext">2011 - 2014</div>
                                 <div class="grid-item"id ="cardtext">Junior High School 1 Bogor</div>
                                 <div class="grid-item"><img src="{%static 'sdrp.png'%}" id="edu" ></img></div>
                                 <div class="grid-item"id ="cardtext">2005 - 2011</div>
                                 <div class="grid-item"id ="cardtext">Regina Pacis Elementary School</div> 
                                 <div class="grid-item"><img src="{%static 'sdrp.png'%}" id="edu" ></img></div>
                                 <div class="grid-item"id ="cardtext">2003 - 2005</div>
                                 <div class="grid-item"id ="cardtext">Regina Pacis Kindergarten</div> 

                                  
                               </div>
                              </div>
                            </div>
                        
                          </div>
                          <div class="card"style="background-color:deepskyblue ; dodger-blue ;width: 950px">
                            <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" id="collapsebox">
                              Achievements
                            </a>
                            </div>
                            <div id="collapseTwo" class="collapse" >
                              <div class="card-body"style="background-color:wheat; ">
                                <div class="grid-container">
                                  <div class="grid-item">3.95 GPA at Semester 1</img></div>
                                  
                                  

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card"style="background-color: darkturquoise;width: 950px">
                            <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" id="collapsebox" >
                                Skills
                              </a>
                            </div>
                            <div id="collapseThree" class="collapse" >
                              <div class="card-body"style="background-color:wheat; ">
                                <div class="grid-container">
                                  <div class="grid-item">Python</img></div>
                                  <div class="grid-item" ></div>
                                  <div class="grid-item" ></div>  
                                  <div class="grid-item">Java</img></div>
                                  <div class="grid-item"></div>
                                  <div class="grid-item"></div>  
                                  <div class="grid-item">Html</img></div>
                                  <div class="grid-item"></div>
                                  <div class="grid-item"></div>
                                  <div class="grid-item">CSS</img></div>
                                  <div class="grid-item"></div>
                                  <div class="grid-item"></div> 
                                  

                                   
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

            </div>
                      

              </div>



              </div>
              {% endblock content %}

             




            


            <!-- <div>
                    <h3 id ="head3"> Resume </h3>

                    <div class="container" >
                            
                            <div id="accordion" style =  "margin-left: 250px;margin-top:100px;max-width: 1000px">
                              <div class="card" style="background-color: aqua; width: 950px">
                                    
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse" href="#collapseOne" id="collapsebox">
                                    Educations
                                  </a>
                                </div>
                            
                                <div id="collapseOne" class="collapse" > <!-- data-parent="#accordion"
                                  <div class="card-body"  style="background-color:wheat; ">
                    
                                   <div class="grid-container">
                                     <div class="grid-item"><img src="ui.png" id="edu" ></img></div>
                                     <div class="grid-item" >2017 - 2021</div>
                                     <div class="grid-item" >University of Indonesia</div>  
                                     <div class="grid-item"><img src="smansa.gif" id="edu" ></img></div>
                                     <div class="grid-item">2014 - 2017</div>
                                     <div class="grid-item">Senior High School 1 Bogor</div>  
                                     <div class="grid-item"><img src="spensa.jpg" id="edu" ></img></div>
                                     <div class="grid-item">2011 - 2014</div>
                                     <div class="grid-item">Junior High School 1 Bogor</div>
                                     <div class="grid-item"><img src="sdrp.png" id="edu" ></img></div>
                                     <div class="grid-item">2005 - 2011</div>
                                     <div class="grid-item">Regina Pacis Elementary School</div> 
                                     <div class="grid-item"><img src="sdrp.png" id="edu" ></img></div>
                                     <div class="grid-item">2003 - 2005</div>
                                     <div class="grid-item">Regina Pacis Kindergarten</div> 

                                      
                                   </div>
                                  </div>
                                </div>
                            
                              </div>
                              <div class="card"style="background-color:deepskyblue ; dodger-blue ;width: 950px">
                                <div class="card-header">
                                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" id="collapsebox">
                                  Achievements
                                </a>
                                </div>
                                <div id="collapseTwo" class="collapse" >
                                  <div class="card-body"style="background-color:wheat; ">
                                    <div class="grid-container">
                                      <div class="grid-item">3.95 GPA at Semester 1</img></div>
                                      
                                      
 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card"style="background-color: darkturquoise;width: 950px">
                                <div class="card-header">
                                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" id="collapsebox" >
                                    Skills
                                  </a>
                                </div>
                                <div id="collapseThree" class="collapse" >
                                  <div class="card-body"style="background-color:wheat; ">
                                    <div class="grid-container">
                                      <div class="grid-item">Python</img></div>
                                      <div class="grid-item" ></div>
                                      <div class="grid-item" ></div>  
                                      <div class="grid-item">Java</img></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item"></div>  
                                      <div class="grid-item">Html</img></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item">CSS</img></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item"></div> 
                                      
 
                                       
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
    
                </div> -->

            
    

            

            

            


          <!--  <div class="jumbotron" id="jumbopos">
                    <p>I'm currently studying Computer Science in University of Indonesia with a hope of becoming a professional full stack developer in the future. With that goal in mind, I'm currently active in learning a bunch of programming concepts and languages. I believe the saying "Practice makes perfect" is very true in my way to achieve my goals. I also viewed my self as someone who can work comfortably both in a team or individually.</p>
             </div>
            
           -->
            

           
<!-- </body>