<!DOCTYPE html>
{% load static %}
 {% load staticfiles %}
<head>
      
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
   <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}"> 
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

</head>

<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
            
              <li><a class="nav-item nav-link " href="{% url 'first_version:home' %}"  style="color:white;padding: 10px 25px;">Home</a></li> 
               <li><a class="nav-item nav-link" href="{% url 'first_version:feedback' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Feedback</a></li> 
               <!-- <li><a class="nav-item nav-link" href="contact"style="color:white;  margin: 0px;padding: 10px 25px;">Contact Me</a></li> -->
                <li><a class="nav-item nav-link" href="{% url 'first_version:register' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Register</a></li>
                <li><a class="nav-item nav-link" href="{% url 'first_version:activity' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Add Activity</a></li>
                <li><a class="nav-item nav-link" href="{% url 'first_version:display_schedule' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Schedule</a></li>
            
               
             </div>
           </div>
         </nav>


   </div> 
   {% block content %}
   {% endblock %}

</body>



        