<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
 {% block content %}
 <div class="container-fluid">
     <div class="row">
            <div class="col-sm-12">
                    <h1 id="head1">Schedule</h1>
             </div>
     </div>
     <br>
     <br>
     <div class="row">
            {% for data in all_schedules %}
            <div class="col-sm-12">
                <a id ="head2" style="font-size: 30px"> Activity : {{ data.activity }}</a><br>
                <a id ="head2" style="font-size: 30px"> Place : {{ data.place }}</a><br>
                <a id ="head2" style="font-size: 30px"> Category : {{ data.category }}</a><br>
                <a id ="head2" style="font-size: 30px"> Date : {{ data.date | date:"l, d M Y" }}</a><br>
                <a id ="head2" style="font-size: 30px"> Time : {{ data.time | time:"h:i A" }}</a>
                <br>
                <br>
                    
             </div>
             
             {% endfor %}
     </div>
     <form action="{% url 'first_version:delete_schedule' %}" method="POST" >
         {% csrf_token %}
         <input class="btn btn-default btn-danger" type ="submit" value="Delete All"/>
     </form>
     

 </div>
 {% endblock content %}