<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
 {% block content %}
 <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                   <h1 id="head1">Success !</h1>
                   <h2 id="head2" >You've added a new activity!</h2>
            </div>
   
        </div>


 {% endblock content %}