

.navbar{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li{
    float: right;
    margin: 2px;
  
  
}

li a {
    display: block;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color:#7E8792;
    outline:none;
    padding: 14px 25px;
    text-decoration:none;
    color: white;
}


  
  #imgpos{
      float: left;
      margin-left: 0px;
      margin-top: 100px;
      border-radius: 50%;
      max-width:280px;
      height: auto;
      width: 100%;

  }

.responsive {
    width: 100%;
    max-width: 50px;
    height: auto;
}
  #head1{
   /* margin-left: 455px;*/
    margin-top: 150px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 65px;
}

#head2{
    /*margin-left: 455px;*/
    margin-top: 50px;
    font-family: "Lato";
    
    font-weight: bold;
}
@media screen and (min-width: 801px) {
    #head2{
        font-size: 35px;
        
    }
}
@media screen and (max-width: 800px) {
    #head2{
        font-size: 15px;
        
    }
}

#head3{
    margin-left: 0px;
    margin-top: 50px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 65px;
}

#resume{

    margin-left: 0px;
    margin-top: 50px;
    font-family: "Lato";
    font-size: 25px;
    max-width: 1000px;

}
#education{
    margin-left: 0px;
    margin-top: 50px;
}

#shortdesc{

    border-radius: 25px;
    padding: 35px;
    background: #E0E7EE;
    margin-top: 50px;
    font-family: "Lato";
    
    text-align: justify;
}

@media screen and (min-width: 801px) {
    #shortdesc{
        font-size: 22px;
        max-width : 1000px;
        height: 275px;
        margin-left: 55px;
    }
}
@media screen and (max-width: 800px) {
    #shordesc{
        font-size: 5px;
        height: 400px;
        margin-left: 0px;
      
    }
}

.panel-group{
    max-width : 300px;
}

#sosmed1{
    height: 30px;
    width: 100px;
}
#sosmed2{
    height: 50px;
    width: 100px;

}
#sosmed3{
    height: 40px;
    width: 100px;

}
#sosmedbox {

    position: relative;
    float: left;
   /* bottom: 300px;*/
    left: 0px;
    border-radius: 25px;
    border: 4px solid  #3FE0F5;
    max-width: 375px;
    padding: 25px;
    background-color: whitesmoke;
    
}

@media screen and (max-width: 800px) {
    #sosmedbox{
        max-width: 300px
      
    }
}


.card{
    background-color: aliceblue
}
@media screen and (min-width: 801px) {
    .card{
       /* font-size: 22px;*/
        max-width : 990px;
        /*margin-left: 55px;*/
    }
}
@media screen and (max-width: 800px) {
    .card{
        max-width: 400px;
      
    }
}

#cardtext{
    font-family: "Lato";
}

@media screen and (max-width: 800px) {
    #cardtext{
        font-size: 15px;
        font-family: "Lato";
      
    }
}
.grid-container{
    background-color:white;
    
}
@media screen and (max-width: 850px) {
    .grid-container{
        font-size: 10px;
        font-family: "Lato";

      
    }
}




#Ctitle a:hover {
    outline:none;
    text-decoration:none;
    border-style: none;
    font-family: "Lato";
    color:dodgerblue;
}

#collapsebox{
    font-family: "Lato";
    font-size: 35px;
    color: black;
    font-weight: 2px;
    max-width: 1000px;

}
#edu{
    border-radius: 50%;
    width: 60px;
}

#textedu{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
   
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-family: "Lato";

  }
  #feedback{
    margin-left: 150px;
    margin-top: 150px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 70px;
  }

  #feedesc{

    border-radius: 25px;
    padding: 35px;
    background: #E0E7EE;
    margin-top: 50px;
    font-family: "Lato";
    text-align: justify;
}

@media screen and (min-width: 801px) {
    #feedesc{
        font-size: 22px;
        max-width : 1000px;
        height: 275px;
        margin-left: 55px;
    }
}
@media screen and (max-width: 800px) {
    #feedesc{
        font-size: 5px;
        height: 400px;
        margin-left: 0px;
      
    }
}

/*responsive layout, copyright and source: @ https://www.w3schools.com/Css/tryit.asp?filename=trycss_form_responsive*/

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*.container {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Lato";
}*/

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.col-75{
    max-width: 750px;
}


.card{
    border: 2px #333;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
    
    
